.hsDetailH4 {
  color: #656060;
  font-size: 1.3em;
  margin-right: 7%;
}

.hsHrLine {
  border: none;
  border-top: 1px solid var(--main-color);
  width: 90%;
}

.hsFlexBox {
  display: flex;
  justify-content: space-between;
  width: 90%;
  align-items: center;
  padding: 1.3em;
  flex-wrap: wrap;
}

#HomeStructurePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1%;
}

#HomeStructureDescription {
  text-align: center;
}

#HomeStructureInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hsLocation {
  font-size: 1.2em;
}

#HomeStructureInfo,
#gobalInfo,
#homeStructureHeader,
.reservation {
  width: 90vw;
}
.reservation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2% 0;
}
#userParticulier,
#userChenil {
  margin: 4% 0 0 0;
}

#HomeStructureDescription {
  font-size: 1.2em;
}

#hsPrice {
  font-weight: bold;
  font-size: 1.3em;
}
#homeStructureHeader {
  display: flex;
  justify-content: center;
}
#gobalInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#homeStructureHeader header {
  width: 100%;
}
#gobalInfo section {
  width: 100%;
}
@media screen and (min-width: 1000px) {
  #HomeStructureInfo {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  #gobalInfo {
    margin-right: 5%;
    margin-left: 1em;
  }

  #HomeStructureInfo,
  #homeStructureHeader {
    width: 70vw;
    max-width: 1100px;
  }
  #infoDiv {
    min-height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 5em;
    padding-right: 3em;
  }

  #HomeStructureDescription {
    min-height: 15vh;
    text-align: center;
  }

  .reservation {
    min-width: 385px;
    justify-content: flex-end;
    margin: 0;
  }
}
