#connexionPatoune {
  width: 50px;
  margin-right: 15px;
}

#headerConnexionPage {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  margin-top: 15vh;
}

#headerConnexionPage > h1 {
  font-size: 2em;
}

#connexionBody {
  margin-top: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#connexionPageDiv {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 90vw;
  min-width: 300px;
  min-height: 528px;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
  background-image: url(../../assets/images/2patounes.png);
  background-size: auto 550px;
  background-position: center;
  background-repeat: no-repeat;
}

.connexionPageInput {
  font-size: 1.1em;
  padding: 0.4rem;
  width: 35vw;
  min-width: 250px;
  max-width: 70vw;
  border-radius: 15px;
  border: 1px solid #797979;
  margin-left: 3%;
  padding-left: 3%;
  margin-top: 2%;
  text-align: center;
}

#connexionButton {
  border: 1px solid transparent;
  border-radius: 30px;
  cursor: pointer;
  margin: 6% 0 5%;
  width: 10em;
  padding: 0.75em;
  min-width: 10vw;
  font-size: 1em;
}

#connexionPageDiv > label {
  margin-top: 5%;
}

#connexionFooter {
  margin-top: 6vh;
  text-align: center;
}

#connexionFooter > a {
  color: #804980;
}
@media screen and (min-width: 550px) and (max-width: 1100px) {
  #connexionPageDiv {
    width: 490px;
  }
  .connexionPageInput {
    width: 380px;
  }
}

@media screen and (min-width: 1100px) {
  #connexionPageDiv {
    width: 600px;
  }

  .connexionPageInput {
    width: 400px;
  }
}
