#reservationContainer {
  display: flex;
  justify-content: center;
  height: 93vh;
}
.reservation {
  width: 80%;
  height: 100%;
  padding-top: 70px;
}
.reservationHeader {
  padding: 1em;
  border-bottom: 1px solid #ccc;
  background-color: var(--highlight-color);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: white;
}
#reservationTitle {
  text-align: center;
  font-size: 2rem;
}
.reservationContent {
  padding: 1em;
  background-color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 85%;
}

.tableTitle {
  text-align: center;
  font-size: 1.5rem;
  margin: 15px 0px;
}
table,
th,
td {
  text-align: center;
}
#animalTable {
  width: 100%;
}
.rowOdd,
.columnName {
  background-color: #e7e9eb;
}

/* .columnName {
  background-color: var(--secondary-color);
} */
