:root {
  --main-color: #6a6b86;
  --secondary-color: #e37acc;
  --container-color: #08256e;
  --base-font-size: 1.5rem;
  --header-font-size: 2.5rem;
  --subheader-font-size: 2rem;
  --body-font-size: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "roboto";
  src: url("./assets/fonts/roboto/Roboto-Regular.ttf") format("truetype");
}

h1,
h2,
h3,
p,
a,
li,
input,
textarea,
label,
small,
select {
  font-family: "roboto";
}

body {
  background: var(--main-color);
}
