:root {
  --main-color: #c6d7e2ad;
  --secondary-color: #007864;
  --highlight-color: #bf525d;
  --hover-color: #0078644d;
  --base-font-size: 1.5rem;
  --header-font-size: 2.5rem;
  --subheader-font-size: 2rem;
  --body-font-size: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "roboto";
  src: url("./assets/fonts/roboto/Roboto-Regular.ttf") format("truetype");
}

h1,
h2,
h3,
h4,
p,
a,
li,
input,
textarea,
label,
small,
select {
  font-family: "roboto";
}

body {
  background: var(--main-color);
}

.buttonType1 {
  background: var(--secondary-color);
  color: white;
}

.buttonType1:hover {
  background: var(--hover-color);
  color: black;
  border: none;
  cursor: pointer;
}
