.avatarForm {
  display: flex;
  flex-direction: column;
  width: 88%;
  background-color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.inputFile {
  display: flex;
  flex-direction: row;
  padding-top: 5px;
}

.avatarButton {
  font-size: 1em;
  padding: 0 5px;
}
