#reservation {
  background-color: white;
  border-radius: 20px;
  padding: 1em;
  min-height: 15vh;
  display: flex;
  margin: 1em;
  padding: 2em;
}

#reservationForm {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

#reservationButton:hover {
  background: linear-gradient(to right, #e37acc, #08256e);
  border: none;
  color: white;
}

#DatesChoice {
  display: flex;
  margin: 0 0 10% 0;
  text-align: center;
  flex-wrap: wrap;
}

.reservationDate {
  margin: 0 0 0 3%;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.reservationInput {
  width: 25vw;
  text-align: center;
  padding: 0.9em;
}

#detailsLine {
  margin: 3% 0% 5% 0;
}

#reservationDetails {
  display: none;
}

@media screen and (min-width: 900px) {
  #reservationDetails {
    display: block;
    text-align: left;
  }

  #reservation {
    width: 20vw;
    min-height: 53vh;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
  }

  #reservationForm {
    flex-direction: column;
    width: unset;
  }
  #reservationPets {
    text-align: center;
    margin-bottom: 15%;
  }

  .reservationInput {
    width: 16vw;
  }
  #reservationButton {
    width: 50%;
  }
}
