#signInForm {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  background-color: white;
  background-image: url(../../assets/images/2patounes.png);
  background-size: 317px 510px;
  background-position: center;
  background-repeat: repeat-y;
  color: black;
  padding: 0.9em;
  width: 75vw;
  border-radius: 15px;
  font-size: 1.3em;
  justify-content: space-around;
  align-items: center;
  overflow: auto;
}
.inputContainer {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding-top: 0.4em;
}
#formContainer {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: (var(--main-color));
}
#firstInput {
  padding-top: 0.8em;
}
.inputSizeM {
  font-size: 1.1em;
  padding: 0.4em;
  background:
    linear-gradient(white, white) padding-box,
    linear-gradient(to right, #e37acc, #474fff) border-box;
  border-radius: 15px;
  border: 1px solid transparent;
  margin-left: 3%;
  padding-left: 3%;
}

.inputSizeM:focus {
  outline: none;
}

.inputDesc {
  font-size: 1.1em;
  padding: 0.4rem;
  height: 7em;
  background:
    linear-gradient(white, white) padding-box,
    linear-gradient(to right, #e37acc, #474fff) border-box;
  border-radius: 15px;
  border: 1px solid transparent;
  margin-left: 3%;
  padding-left: 3%;
}

.inputDesc:focus {
  outline: none;
}

.formLabel {
  padding-bottom: 0.1em;
  font-weight: 600;
}
.buttonContainer {
  display: flex;
  flex-direction: column;
  padding-top: 0.9em;
  align-items: center;
}
.compte {
  font-size: 0.9em;
  font-style: italic;
}
.accountButton {
  margin-bottom: 0.7em;
  background: linear-gradient(to right, #e37acc, #474fff);
  color: white;
  border: none;
  font-size: 1.1em;
  padding: 1.1em;
  border-radius: 30px;
}
.connectButton {
  border: none;
  background-color: transparent;
  color: blue;
}
