#signInForm {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  background-color: white;
  background-image: url(../../assets/images/2patounes.png);
  background-size: 317px 510px;
  background-position: center;
  background-repeat: repeat-y;
  color: black;
  padding: 0.9em;
  width: 75vw;
  border-radius: 15px;
  font-size: 1.3em;
  justify-content: space-around;
  align-items: center;
  overflow: auto;
  min-width: 240px;
}
.inputContainer {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding-top: 0.4em;
}
#formContainer {
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: (var(--main-color));
}
#firstInput {
  padding-top: 0.8em;
}
.desktopRow {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.inputSizeM {
  font-size: 1.1em;
  padding: 0.4em;
  background:
    linear-gradient(white, white) padding-box,
    linear-gradient(to right, #e37acc, #474fff) border-box;
  border-radius: 15px;
  border: 1px solid transparent;
  margin-left: 3%;
  padding-left: 3%;
}

.inputSizeM:focus {
  outline: none;
}

.inputDesc {
  font-size: 1.1em;
  padding: 0.4rem;
  height: 7em;
  background:
    linear-gradient(white, white) padding-box,
    linear-gradient(to right, #e37acc, #474fff) border-box;
  border-radius: 15px;
  border: 1px solid transparent;
  margin-left: 3%;
  padding-left: 3%;
}

.inputDesc:focus {
  outline: none;
}
.isRequired {
  position: relative;
  width: 0.8em;
  color: red;
  font-weight: lighter;
  font-size: 0.7em;
  text-align: end;
}
.formLabel {
  padding-bottom: 0.1em;
  font-weight: 600;
  display: flex;
}

/* CSS des balises small du formulaire */

.containerSmall {
  width: 90%;
  display: flex;
  flex-direction: row-reverse;
}

.containerSmall small {
  padding-top: 0.2em;
  color: red;
  font-style: italic;
  font-size: 0.8em;
}

.passwordSmall {
  width: 100%;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  font-style: italic;
}
.buttonContainer {
  display: flex;
  flex-direction: column;
  padding-top: 0.9em;
  align-items: center;
}
.compte {
  font-size: 0.9em;
  font-style: italic;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.accountButton {
  margin-bottom: 0.7em;
  background: linear-gradient(to right, #e37acc, #474fff);
  color: white;
  border: none;
  font-size: 1.1em;
  padding: 1.1em;
  border-radius: 30px;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  #signInForm {
    background-size: contain;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 1100px) {
  #signInForm {
    background-size: 22em;
    background-repeat: repeat-x;
    background-position: 0% 5px;
    max-width: 900px;
    height: 96vh;
    margin: 0;
    padding-bottom: 0.2em;
    padding-top: 0.2em;
  }
  .desktopRow {
    display: flex;
    flex-direction: row;
    width: 90%;
    align-items: center;
  }
  #formContainer {
    height: 100vh;
  }
  #firstname {
    padding-top: 0.8em;
  }
  .inputContainer {
    padding-top: 0.8em;
  }
  .inputDesc {
    height: 15vh;
    min-height: 120px;
  }
}
