.navMenu {
  background-color: white;
  padding: 10px;
}

.navMenu-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
}

.navMenu-item {
  font-size: 1em;
  cursor: pointer;
  margin-bottom: 10px;
}

@media (min-width: 430px) {
  .navMenu-container {
    flex-direction: row;
    justify-content: flex-end;
  }

  .navMenu-item {
    margin-left: 5%;
  }
}
