.navMenu {
  background-color: white;
  padding: 10px;
}

.navMenu-container {
  display: flex;
  justify-content: flex-end;
}

.navMenu-item {
  margin-left: 20px;
  font-size: 1em;
  cursor: pointer;
}
