@media (max-width: 430px) {
  .navMenu-container {
    flex-direction: column;
    align-items: flex-end;
  }

  .navMenu-item {
    margin-left: 0;
    margin-bottom: 10px;
  }
}

.navMenu {
  background-color: white;
  padding: 10px;
}

.navMenu-container {
  display: flex;
  justify-content: flex-end;
}

.navMenu-item {
  margin-left: 20px;
  font-size: 1em;
  cursor: pointer;
}
