.deleteButton {
  background-color: transparent;
  color: rgb(194, 27, 27);
  border: none;
  border-radius: 15px;
  font-size: 1em;
  cursor: pointer;
}

.confirmBox {
  position: fixed;
  top: 40%;
  left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80vw;
  height: auto;
  background-color: white;
  border: solid #c21b1b 2px;
  padding-top: 20px;
  border-radius: 15px;
  text-align: center;
}
.hidden {
  display: none;
}

.confirmButton {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 20px 0px 10px;
}
.confirmButton button {
  font-size: 0.9em;
}

#deleteParagraph {
  width: auto;
}

@media (min-width: 768px) {
  .confirmBox {
    width: 40vw;
    left: 30%;
    height: auto;
  }
}
