@import "../../App.css";
#fileInput {
  position: fixed;
  top: 40vh;
  left: 40vw;
}
.profilePageContainer {
  font-size: var(--base-font-size);
}

.profilePageContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "profile-page-header profile-page-header"
    "profile-section-information profile-section-reservation"
    "profile-section-description .";
  min-height: 100vh;
  margin: 0 auto;
  max-width: 1140px;
}

.label {
  color: grey;
}

.profileSectionInformation {
  grid-area: profile-section-information;
  overflow: hidden;
}

.profileSectionReservation {
  grid-area: profile-section-reservation;
  overflow: hidden;
}

.profileSectionDescription {
  grid-area: profile-section-description;
  height: 75%;
}

.profilAnimalsList {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
}

.deleteButton {
  border: none;
  background-color: transparent;
  text-decoration: underline;
  cursor: pointer;
  color: rgb(194, 27, 27);
}

#deleteHomeStructureButton {
  width: 100%;
  text-align: center;
  font-size: 1em;
  margin-top: 5%;
}

.addLink {
  display: block;
  text-align: center;
  margin-top: 5%;
  font-size: 1em;
}

@media (max-width: 1000px) {
  .profilePageContainer {
    grid-template-columns: 530px;
    grid-template-rows: 0.3fr 1fr 1fr 1fr;
    grid-template-areas:
      "profile-page-header"
      "profile-section-information"
      "profile-section-description"
      "profile-section-reservation";
    margin: 0 calc((100vw - 530px) / 2);
  }
}

@media (max-width: 550px) {
  .profilePageContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 1fr 1fr 1fr;
    grid-template-areas:
      "profile-page-header"
      "profile-section-information"
      "profile-section-description"
      "profile-section-reservation";
    margin: 0;
    font-size: 1.15em;
  }
  .profilePageContainer :nth-child(3) {
    height: auto;
  }
  .profilePageContainer :nth-child(3) {
    height: auto;
  }
}
