@import "../../App.css";

.profilePageContainer {
  font-size: var(--base-font-size);
}

.profilePageContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(auto, 150px) 1fr 0.5fr 0.1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "profile-page-header profile-page-header"
    "profile-section-information profile-section-reservation"
    "profile-section-description .";
  min-height: 100vh;
  margin: 0 15%;
}

.label {
  color: grey;
}

.profileSectionInformation {
  grid-area: profile-section-information;
  overflow: hidden;
}

.profileSectionReservation {
  grid-area: profile-section-reservation;
  overflow: hidden;
}

.profileSectionDescription {
  grid-area: profile-section-description;
  height: 75%;
}

@media (max-width: 805px) {
  .profilePageContainer {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "profile-page-header"
      "profile-section-information"
      "profile-section-description"
      "profile-section-reservation";
    margin: 0 8%;
  }
}

@media (max-width: 500px) {
  .profilePageContainer {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "profile-page-header"
      "profile-section-information"
      "profile-section-description"
      "profile-section-reservation";
    margin: 0 5%;
    font-size: 1.15em;
  }
  .profilePageContainer :nth-child(3) {
    height: auto;
  }
  .profilePageContainer :nth-child(3) {
    height: auto;
  }
}
