.cancelButton {
  color: var(--highlight-color);
  border: none;
  border-bottom: var(--highlight-color) 1px solid;
  background-color: transparent;
  font-size: 1em;
  cursor: pointer;
}

.confirmPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 60%);
}

.confirmContainer {
  background-color: white;
  width: 30em;
  height: 12em;
  align-items: center;
  max-width: 1300px;
  border: 2px solid var(--highlight-color);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.string {
  font-size: 1.4em;
}

#confirmCancel {
  font-size: 1.5em;
}
.abandon {
  color: blue;
  border: none;
  border-bottom: 2px solid blue;
  background-color: transparent;
  margin-left: 4em;
  font-size: 1.5em;
  cursor: pointer;
}
