.profileSection {
  background-color: white;
  border-radius: 15px;
  margin: 1em;
  max-width: 530px;
}

.profileSectionHeader {
  padding: 1em;
  border-bottom: 1px solid #ccc;
  background-color: var(--highlight-color);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: white;
}

.profileSectionContent {
  padding: 1em;
  background-color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 80%;
}

.profileSectionContent > ul {
  list-style-type: none;
  padding: 0;
  margin: 15px;
}

.profilePageTitle {
  text-align: center;
  font-size: var(--base-font-size);
}

.profileSection {
  background-color: white;
  border-radius: 15px;
  margin: 1em;
}

.profileSectionContent label {
  display: block;
  width: auto;
  margin-bottom: 5px;
  text-align: left;
  color: #656060;
  font-weight: bold;
  font-style: normal;
  margin-right: 3%;
}

.profileSectionContent input,
.profileSectionContent p,
.profileSectionContent select {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .profileSectionContent label {
    width: 120px;
    margin-right: 10px;
  }
}

@media (min-width: 1100px) {
  .profileSectionContent label {
    display: inline-block;
    width: 45%;
    margin-right: 10px;
    text-align: left;
  }

  .profileSectionContent input,
  .profileSectionContent select,
  .profileSectionContent p {
    display: inline-block;
    width: calc(100% - 170px);
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
  }
}
