.fieldContainer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.field {
  display: flex;
  padding-left: 15px;
  align-items: center;
}
.input {
  width: 50%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  font-size: 16px;
  border-radius: 15px;
}

.readOnlyInput {
  appearance: none;
  border: none;
  background-color: transparent;
  color: inherit;
  padding: 0;
  margin: 15px;
  font-size: inherit;
  cursor: default;
  border-radius: 0;
}
