.homePage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.homePageHeader {
  text-align: center;
}
.homePageLogoCicorne {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.homePageMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.homePageSectionTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.homePageLogoPatounes {
  margin: 0 auto;
  width: 5vh;
  height: auto;
}
.homePageTitle {
  font-size: 3em;
  color: black;
}
.homePageNav {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}
.homePageNav .homePageNavList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.homePageNav .homePageNavItem {
  list-style: none;
}
.homePageNavItem {
  margin-top: 6%;
}
.homePageNavLink {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 60px;
  font-size: 2em;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 30px;
  box-shadow: 10px 5px 5px rgba(5, 5, 5, 0.3);
  color: Black;
  border: 1px solid;
  background: white;
}
.homePageNavLink:hover {
  background-color: var(--secondary-color);
  border: none;
  color: white;
}
.homePageFooter {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 20px;
  width: 100%;
  bottom: 0;
  color: black;
}
.navlink {
  margin-left: 10px;
}

@media screen and (min-width: 580px) {
  .homePageLogoCicorne {
    height: 50vh;
  }
}

@media screen and (min-width: 1030px) {
  .homePage {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .homePageHeader {
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
  }
  .homePageLogoCicorne {
    width: 100%;
    height: 100vh;
  }
  .homePageSectionTitle {
    display: flex;
    flex-direction: column;
  }
  .homePageLogoPatounes {
    width: 15vh;
    height: auto;
    margin: 15px;
  }
  .homePageMain {
    width: 100%;
    height: auto;
  }
  .homePageTitle {
    font-size: 5em;
    margin: 3rem;
  }
  .homePageNavLink {
    width: 30vw;
    height: 7vh;
  }
  .homePageFooter {
    bottom: 0;
    right: 0;
    padding-top: 50px;
  }
  .homeRightContainer {
    width: 50vw;
  }
}
