.navMenu {
  background-color: white;
  padding: 15px;
  border-bottom: solid 1px;
  box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.15);
  position: relative;
  width: 100%;
}

.navMenu-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.navMenu-item {
  font-size: var(--base-font-size);
  cursor: pointer;
  margin-left: 2%;
}

nav a {
  text-decoration: none;
  color: black;
}
.navMenu-item.active,
.navMenu-item > .linkItem.active {
  display: none;
}
.disconnect {
  background-color: transparent;
  border: none;
}
@media (min-width: 430px) {
  .navMenu-container {
    flex-direction: row;
    justify-content: flex-end;
  }
}
