/* SignIn.module.css */

#signInForm {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  padding: 0.9em;
  width: 75vw;
  border-radius: 15px;
  font-size: 1.3em;
  justify-content: space-around;
  align-items: center;
  overflow: auto;
  min-width: 240px;
  justify-content: space-evenly;
}
.inputContainer {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding-top: 0.4em;
}
#formContainer {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
#firstInput {
  padding-top: 0.8em;
}
.desktopRow {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.inputSizeM,
.inputSizeS {
  background-color: white;
  border: 1px solid var(--hover-color);
  font-size: 1.1em;
  padding: 0.4em;
  border-radius: 15px;
}

.inputSizeS {
  padding-left: 3%;
}

.inputDesc {
  font-size: 1.1em;
  padding: 0.4rem;
  height: 7em;
  background:
    linear-gradient(white, white) padding-box,
    linear-gradient(to right, #e37acc, #474fff) border-box;
  border-radius: 15px;
  border: 1px solid transparent;
  margin-left: 3%;
  padding-left: 3%;
}

.isRequired {
  position: relative;
  width: 0.8em;
  color: red;
  font-weight: lighter;
  font-size: 0.7em;
  text-align: end;
}
.formLabel {
  padding-bottom: 0.1em;
  font-weight: 600;
  display: flex;
  margin-top: 3%;
}
.containerSmall {
  width: 90%;
  display: flex;
  flex-direction: row-reverse;
}
.containerSmall small {
  padding-top: 0.2em;
  color: red;
  font-style: italic;
  font-size: 0.8em;
}
.buttonContainer {
  display: flex;
  flex-direction: column;
  padding-top: 0.9em;
  align-items: center;
}
.compte {
  font-size: 0.9em;
  font-style: italic;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.accountButton {
  margin-bottom: 0.7em;
  background: var(--secondary-color);
  color: white;
  border: none;
  font-size: 1.1em;
  padding: 0.9em;
  border-radius: 30px;
  cursor: pointer;
  margin: 0 2% 15%;
}
@media screen and (min-width: 600px) {
  #signInForm {
    background-size: contain;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 1100px) {
  #signInForm {
    background-size: 22em;
    background-repeat: repeat-x;
    background-position: 0% 5px;
    max-width: 900px;
    height: 80vh;
    margin: 0;
    padding-bottom: 0.2em;
    padding-top: 0.2em;
  }
  .desktopRow {
    flex-direction: row;
    width: 90%;
    align-items: center;
  }
  #formContainer {
    height: 100vh;
  }
  #firstname {
    padding-top: 0.8em;
  }
  .inputContainer {
    padding-top: 0.8em;
  }
  .inputDesc {
    height: 15vh;
    min-height: 120px;
  }
  .inputSizeS {
    margin-left: 3%;
  }
}
