.errorPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: #f8f9fa;
  color: #343a40;
  padding: 20px;
  box-sizing: border-box;
}

h1 {
  font-size: 4rem;
  margin: 0;
}

h2 {
  font-size: 1.5rem;
  margin: 20px 0;
}

.navLink {
  margin: 20px 0;
  text-decoration: none;
}

.linkredirection {
  padding: 10px 20px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  text-decoration: none;
}
