.textarea {
  width: calc(100%);
  border: 1px solid #ccc;
  border-radius: 15px;
  resize: vertical;
  min-height: 30vh;
}

.readOnlyTextarea {
  border: none;
  background-color: transparent;
  padding: 0;
  font-size: inherit;
  cursor: default;
}
